/* NOTIFICATION CONTAINER STYLES */
.notification-container{
    position: absolute;
    top: -100px;
    z-index: 10;

    background-color: #ff5a30;    
    width: 98vw;
    /* height: 30px; */
    
    display: flex;
    justify-content: center;
    align-items: center;  

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

      
}

/* NOTIFICATION CONTENT STYLES */
.notification-container > p{
    color: #0e0d0d;
    flex: 1;
}


.notification-container > img{
    margin-right: 5px;
}

/* ANIMATION STYLES */
.slideup-animation{
    animation: slideUp 500ms ease-out;
    top: -100px;
}


.slidedown-animation{
    animation: slideDown 500ms ease-in-out;
    top: 0;
}

@keyframes slideDown {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;

    }
}


@keyframes slideUp {
    0% {
        top: 0px;

    }

    100% {
        top: -100px;

    }
}

@media (min-width: 1000px) {
    .notification-container{
        height: 40px;
    }
}
@media (max-width: 600px){
    .notification-container{
        width: 95vw;
    }
}
