/* FOLDER AND FILE LIST STYLES */
.folder-list,
.file-list{
    width: 98%;
    display: grid;
}

/* BREADCRUMBS STYLES */
.breadcrumbs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    padding-left: 4px;
    transition: all 500ms ease-in-out;
}

.breadcrumbs .breadcrumb-segment:last-child >a{
    color: gray;
}

.breadcrumb-segment{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* FILE/FOLDER HEADER STYLES */
.file-folder-header{
    width: 98%; 
    color: #494848;
}

.file-folder-header-right{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1.2fr;
}

/* HR STYLES */

hr{
    border: 1px solid #0e0d0d;
    margin-top: -10px;
    width: 98%;
}

/* EMPTY FOLDER MESSAGE */
.no-file-folders-message{
    color: #494848;
    position: relative;
    top: 35%;
}

/* EDIT CONTAINER */
#edit-input{
    border: none;
    font-size: 18px;

    background-color: transparent;
    color: #ff5a30;
    width: 200px;
}

.edit-input-container,
.edit-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

/* MEDIA QUERIES FOR THE FILE/FOLDER HEADER CONTAINER */
@media (max-width: 550px) {
    .file-folder-header{
        font-size: small;
    }
}
