/* FOLDER CONTAINER STYLES */
.folder-container,
.file-container,
.file-view-details,
.file-view{
    width: 97%;
    height: 50px;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ff5a30;
    transition: 0.5s;
    background-color: #0e0d0d;
    
}

.file-view-container{
    width: 100%;
    height: 85vh;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* FOLDER DETAILS (header) STYLES */
.folder-details-header,
.file-details.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    color: #494848;
}

.folder-details-right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
}

hr{
    border: 1px solid #0e0d0d;
    margin-top: -10px;
    width: 98%;
}

/* FOLDER STYLES */
.folder, 
.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.folder-container:hover,
.file-container:hover{

    background-color: #1a1a1a;
}

.folder-left,
.file-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

.folder-right,
.file-right,
.file-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-information{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90%;
}

    #folder-right-created{
        margin-right: 60px;
    }


.file-right-options,
.file-right-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.folder-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    list-style: none;
    padding: 0.2em 0em;
    background-color: #0e0d0d;
    border: 1px solid #1a1a1a;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: center;
    top: 16em;
    right: 3em;
    height: 12%;
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
    transition: all 150ms ease-in-out;
  }
  
  .menu.open {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

.menu-item-btn{
    display: flex;
    width: 100%;
    border-radius: 0px;
    background-color: #0e0d0d;
    border-radius: 5px;
    

}


.menu-item-btn:hover{
    border: none;
    background-color: #494848;
}

li{
    margin-top: 12px;
}



#folder-right-size,
#file-right-size{
    text-align: center;
    margin-left: -70px;

}

.no-file-folders-message{
    color: #494848;
    position: relative;
    top: 35%;
}

#edit-input{
    border: none;
    font-size: 18px;

    background-color: transparent;
    color: #ff5a30;
    width: 200px;
}

.edit-input-container,
.edit-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

#edit-options{
    gap: 10px;
}

.file-size{
    width: 10em;
    margin-right: -80px;
}

/* FILE VIEW STYLES */
.file-view{
    height: 68%;
}


@media (max-width: 1100px) {
    .folder-container,
    .file-container{
        font-size: 15px;
    }
}
