/* FILE SYSTEM SIDEBAR TREE CONTAINER STYLES */
.file-system-tree{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.file-system-container{
    display: grid;
    grid-template-columns: 300px 5fr;
}

.file-system-view{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
    padding: 16px;
}
