/* FILE SYSTEM SIDEBAR TREE CONTAINER STYLES */
.file-system-tree{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.file-system-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.file-system-view{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
    flex: 1 1 auto;
}


@media (max-width: 700px) {
    .file-system-container{
        display: flex;
        flex: 1 1 auto;
    }
}
