/* FILE SYSTEM SIDEBAR TREE CONTAINER STYLES */
.file-system-tree{
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 87.5vh;
}

.file-system-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    flex: 1 1 auto;
}

.file-system-view{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
}

@media (max-width: 1099px) {
    .file-system-container{
        grid-template-columns: 1fr;
    }
}

