/* FILE INTO CONTAINER AND SIDEBAR STYLES */
.file-info-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 800ms ease-in-out;

}

.file-info-container-hidden{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: -100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 800ms ease-in-out;
}

.file-info-sidebar{
    position: absolute;
    right: -100vw;
    height: 100%;
    overflow-y: scroll;
    background-color: #0e0d0d;
    color: #ff5a30;
    border-radius: 10px;
    padding: 20px;
}


/* FILE INFO SIDEBAR HEADER STYLES */
.file-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filename{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space-collapse:collapse;
}

/* FILE PREVIEW/DISPLAY CONTAINER STYLES */
.file-preview{
    background-color: #1a1a1a;
    width: 90%;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.initial-state{
    right: -100vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* FILE INFO CONTAINER STYLES */
.file-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

#file-info-header{
    padding-left: 16px;
    margin-bottom: 0;
    color: grey;
}

.file-details{
    list-style-type: none;
    padding-left: 16px;
    margin-top: 0;
    flex: 1;
}

.file-details-item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.file-details-item > small:first-child{
    color: #EDF4C2;
}

hr{
    border: 1px solid #0e0d0d;
    margin-top: 20px;
    width: 98%;
}

/* FILE BUTTON/OPTIONS STYLES */
.file-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#folder-loc-btn{
    margin-top: 10px;
    color: #ff5a30;
    transition: all 500ms ease-in-out;
}

#folder-loc-btn:hover{
    transform: scale(1.02);
}


.file-options > button{
    width: 50%;
}

/* ANIMATIONS */
.slidein-animation{
    animation: slideIn 700ms ease-in-out;
    right: 0;
}

.slideout-animation{
    animation: slideOut 700ms ease-in-out;
    right: -100vw;
}

@keyframes slideIn {
    0% {
        right: -100vw;
    }

    100% {
        right: 0%;
    }
}


@keyframes slideOut {
    0% {
        right: 0%;
    }

    100% {
        right: -100vw;
    }
}

/* MEDIA QUERIES */

@media (min-width: 510px) {
    .file-options{
        margin-top: 40px;
    }
}

@media (max-width: 600px) {
    .file-options{
        padding-bottom: 2vh;
    }

    .file-info-sidebar{
        right: -400%;
         }

    .file-preview{
        width: 90vw;
        height: auto;
    }

    .slidein-animation{
        animation: slideIn 1s ease-in-out;
        right: 0;
    }
    
    .slideout-animation{
        animation: slideOut 1s ease-in-out;
        right: -400%;
    }
    
    @keyframes slideIn {
        0% {
            right: -400%;
        }
    
        100% {
            right: 0%;
        }
    }
    
    
    @keyframes slideOut {
        0% {
            right: 0%;
        }
    
        100% {
            right: -400%;
        }
    }

    .file-options > button {
        font-size: 14px;
    }
        
}