/* FILE SYSTEM SIDEBAR CONTAINER STYLES */
.folder-container{
    height: 85vh;
    background-color: #0e0d0d;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
}

.folder-headers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

#folder-header-title{
    color: #ff5a30;
    font-size: 40px;
}

/* FILE SYSTEM FOLDER LIST, ADD FILE/FOLDER BUTTON STYLES */
.folder-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.folder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: #1a1a1a;
    border-left: solid 4px #ff5a30;
}

#add-file-btn,
#add-folder-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 90%;

}

@media (max-width: 1280px) {
    #folder-header-title{
        font-size: 30px;
    }
    .folder-headers{
        font-size: 12px;
    }
}
