/* FILE INTO CONTAINER AND SIDEBAR STYLES */
.file-info-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.file-info-sidebar{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #0e0d0d;
    color: #ff5a30;
    border-radius: 10px;
    padding: 20px;
}

/* FILE INFO SIDEBAR HEADER STYLES */
.file-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filename{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space-collapse:collapse;
}

/* FILE PREVIEW/DISPLAY CONTAINER STYLES */
.file-preview{

    background-color: #1a1a1a;
    width: 90%;
    height: 30%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

/* FILE INFO CONTAINER STYLES */
.file-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

#file-info-header{
    padding-left: 16px;
    margin-bottom: 0;
    color: grey;
}

.file-details{
    list-style-type: none;
    padding-left: 16px;
    margin-top: 0;
    flex: 1;

    
}

.file-details-item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.file-details-item > small:first-child{
    color: #EDF4C2;
}

hr{
    border: 1px solid #0e0d0d;
    margin-top: 20px;
    width: 98%;
}

/* FILE BUTTON/OPTIONS STYLES */
.file-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#folder-loc-btn{
    margin-top: 10px;
    color: #ff5a30;
    transition: all 500ms ease-in-out;
}

#folder-loc-btn:hover{
    transform: scale(1.02);
}


.file-options > button{
    width: 45%;
}

/* ANIMATIONS */
.slide-animation{
    animation: slideIn 900ms ease-in-out;
}

@keyframes slideIn {
    0% {
        right: -100vw;
    }

    100% {
        right: 0%;
    }
}