.file-preview{
    width: 50%;
    height: 50px;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ff5a30;
    transition: 0.5s;
    background-color: #0e0d0d;
    height: 68%;
    margin-right: auto;
}

.file-details{
    display: grid;
    grid-template-columns: minmax(0, 3fr) 4.2fr;
    padding: 5px;
}